{% extends 'base.html' %}
{% load static %}
{% block content %}
			<!--services-->
			<div class="content">
				<div class="services">
					<div class="container">
						<div class="service-grids">
							<div class="col-md-4 service-grid">
								<img src="{% static 'images/s1.jpg' %}" class="img-responsive" alt=""/>
								<h4>Solor Sit Amet</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							<div class="col-md-4 service-grid">
							<img src="{% static 'images/s2.jpg' %}" class="img-responsive" alt=""/>
								<h4>Lorem Ipsum Dolor</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							<div class="col-md-4 service-grid">
							<img src="{% static 'images/s3.jpg' %}" class="img-responsive" alt=""/>
								<h4>Pamet Erosorem</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							
							<div class="clearfix"></div>
						</div>
						<div class="service-grids1">
							<div class="col-md-4 service-grid">
								<img src="{% static 'images/s4.jpg' %}" class="img-responsive" alt=""/>
								<h4>Solor Sit Amet</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							<div class="col-md-4 service-grid">
							<img src="{% static 'images/s5.jpg' %}" class="img-responsive" alt=""/>
								<h4>Lorem Ipsum Dolor</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							<div class="col-md-4 service-grid">
							<img src="{% static 'images/s2.jpg' %}" class="img-responsive" alt=""/>
								<h4>Pamet Erosorem</h4>
								<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat,Nulla consectetur maximus sem vel aliquet. Donec blandit condimentum varius</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--services-->
				<!--features-->
				<div class="feature">
					<div class="container">
						<h3>features</h3>
						<div class="feature-grids">
							<div class="col-md-3 feature-grid">
							<div class="feature-icon">
								<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
								</div>
								<h4>Repair</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="col-md-3 feature-grid">
							<div class="feature-icon">
								<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
								</div>
								<h4>speed</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="col-md-3 feature-grid">
							<div class="feature-icon">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</div>
								<h4>Spare parts</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="col-md-3 feature-grid">
							<div class="feature-icon">
							<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
							</div>
								<h4>Tire Sales</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--features-->
			
{% endblock %}